In [1]:
import requests
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as BS
import re
import pandas as pd
import numpy as np

UNITED KINGDOM

In [2]:
#2017
uk_17 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2017/?area=GB')

uk_17 = uk_17[0]
uk_17_df = pd.DataFrame(uk_17)

uk_17_df['Year'] = '2017'
uk_17_df['Country'] = 'United Kingdom'
uk_17_df

#2018
uk_18 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2018/?area=GB')

uk_18 = uk_18[0]
uk_18_df = pd.DataFrame(uk_18)

uk_18_df['Year'] = '2018'
uk_18_df['Country'] = 'United Kingdom'
uk_18_df

#2019
uk_19 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2019/?area=GB')

uk_19 = uk_19[0]
uk_19_df = pd.DataFrame(uk_19)

uk_19_df['Year'] = '2019'
uk_19_df['Country'] = 'United Kingdom'

#2020
uk_20 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2020/?area=GB')

uk_20 = uk_20[0]
uk_20_df = pd.DataFrame(uk_20)

uk_20_df['Year'] = '2020'
uk_20_df['Country'] = 'United Kingdom'

#2021
uk_21 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2021/?area=GB')

uk_21 = uk_21[0]
uk_21_df = pd.DataFrame(uk_21)

uk_21_df['Year'] = '2021'
uk_21_df['Country'] = 'United Kingdom'

#2022
uk_22 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2022/?area=GB')

uk_22 = uk_22[0]
uk_22_df = pd.DataFrame(uk_22)

uk_22_df['Year'] = '2022'
uk_22_df['Country'] = 'United Kingdom'

#concatenated data frame
uks = [uk_17_df, uk_18_df, uk_19_df, uk_20_df, uk_21_df, uk_22_df]
  
uk = pd.concat(uks)
uk

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 29-31,"$33,080,107",-16.3%,"$33,536,057",-16%,34,Star Wars: Episode VIII - The Last Jedi,-,-,-,52,False,2017,United Kingdom
1,Dec 22-24,"$39,508,537",-6.6%,"$39,922,932",-6.5%,33,Star Wars: Episode VIII - The Last Jedi,-,-,-,51,False,2017,United Kingdom
2,Dec 15-17,"$42,282,755",+477.7%,"$42,685,242",+408.5%,48,Star Wars: Episode VIII - The Last Jedi,-,-,-,50,False,2017,United Kingdom
3,Dec 8-10,"$7,319,585",-44.8%,"$8,393,949",-41.9%,61,Paddington 2,-,-,-,49,False,2017,United Kingdom
4,Dec 1-3,"$13,252,084",-41.9%,"$14,457,631",-39.1%,57,Paddington 2,-,-,-,48,False,2017,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Feb 4-6,"$16,326,276",-3.8%,"$17,175,210",-3.6%,45,Sing 2,-,-,-,5,False,2022,United Kingdom
20,Jan 28-30,"$16,977,512",+54.8%,"$17,818,634",+54.8%,33,Sing 2,-,-,-,4,False,2022,United Kingdom
21,Jan 21-23,"$10,967,463",-4.9%,"$11,513,624",-4.7%,39,Spider-Man: No Way Home,-,-,-,3,False,2022,United Kingdom
22,Jan 14-16,"$11,537,498",-2.6%,"$12,084,830",-1.5%,37,Spider-Man: No Way Home,-,-,-,2,False,2022,United Kingdom
23,Jan 7-9,"$11,846,616",-28.3%,"$12,264,681",-26.9%,45,Spider-Man: No Way Home,-,-,-,1,False,2022,United Kingdom

GERMANY

In [3]:
#2017
gm_17 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2017/?area=DE')

gm_17 = gm_17[0]
gm_17_df = pd.DataFrame(gm_17)

gm_17_df['Year'] = '2017'
gm_17_df['Country'] = 'Germany'
gm_17_df

#2018
gm_18 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2018/?area=DE')

gm_18 = gm_18[0]
gm_18_df = pd.DataFrame(gm_18)

gm_18_df['Year'] = '2018'
gm_18_df['Country'] = 'Germany'

#2019
gm_19 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2019/?area=DE')

gm_19 = gm_19[0]
gm_19_df = pd.DataFrame(gm_19)

gm_19_df['Year'] = '2019'
gm_19_df['Country'] = 'Germany'

#2020
gm_20 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2020/?area=DE')

gm_20 = gm_20[0]
gm_20_df = pd.DataFrame(gm_20)

gm_20_df['Year'] = '2020'
gm_20_df['Country'] = 'Germany'

#2021
gm_21 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2021/?area=DE')

gm_21 = gm_21[0]
gm_21_df = pd.DataFrame(gm_21)

gm_21_df['Year'] = '2021'
gm_21_df['Country'] = 'Germany'

#2022
gm_22 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2022/?area=DE')

gm_22 = gm_22[0]
gm_22_df = pd.DataFrame(gm_22)

gm_22_df['Year'] = '2022'
gm_22_df['Country'] = 'Germany'

#concatenated data frame
gms = [gm_17_df, gm_18_df, gm_19_df, gm_20_df, gm_21_df, gm_22_df]
  
gm = pd.concat(gms)
gm

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 28-31,"$26,217,324",+40.5%,"$26,675,409",+42.4%,23,Star Wars: Episode VIII - The Last Jedi,-,-,-,52,False,2017,Germany
1,Dec 21-24,"$18,660,370",-34%,"$18,731,861",-35%,17,Star Wars: Episode VIII - The Last Jedi,-,-,-,51,False,2017,Germany
2,Dec 14-17,"$28,293,013",+317.3%,"$28,813,730",+277.3%,26,Star Wars: Episode VIII - The Last Jedi,-,-,-,50,False,2017,Germany
3,Dec 7-10,"$6,779,883",-21.2%,"$7,635,990",-17.4%,27,Coco,-,-,-,49,False,2017,Germany
4,Nov 30-Dec 3,"$8,605,281",-26.7%,"$9,246,322",-24%,26,Coco,-,-,-,48,False,2017,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Feb 3-6,"$7,183,140",+20.9%,"$7,957,171",+23.2%,24,Wunderschön,-,-,-,5,False,2022,Germany
20,Jan 27-30,"$5,942,620",-46.5%,"$6,457,210",-43.2%,24,Sing 2,-,-,-,4,False,2022,Germany
21,Jan 20-23,"$11,110,711",+67.3%,"$11,370,726",+57.8%,16,Spider-Man: No Way Home,-,-,-,3,False,2022,Germany
22,Jan 13-16,"$6,642,310",-26.8%,"$7,207,197",-20.8%,28,Spider-Man: No Way Home,-,-,-,2,False,2022,Germany
23,Jan 6-9,"$9,071,344",+23.6%,"$9,104,287",+23.8%,13,Spider-Man: No Way Home,-,-,-,1,False,2022,Germany

Japan

In [4]:
#2017
jp_17 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2017/?area=JP')

jp_17 = jp_17[0]
jp_17_df = pd.DataFrame(jp_17)

jp_17_df['Year'] = '2017'
jp_17_df['Country'] = 'Japan'
jp_17_df

#2018
jp_18 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2018/?area=JP')

jp_18 = jp_18[0]
jp_18_df = pd.DataFrame(jp_18)

jp_18_df['Year'] = '2018'
jp_18_df['Country'] = 'Japan'

#2019
jp_19 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2019/?area=JP')

jp_19 = jp_19[0]
jp_19_df = pd.DataFrame(jp_19)

jp_19_df['Year'] = '2019'
jp_19_df['Country'] = 'Japan'

#2020
jp_20 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2020/?area=JP')

jp_20 = jp_20[0]
jp_20_df = pd.DataFrame(jp_20)

jp_20_df['Year'] = '2020'
jp_20_df['Country'] = 'Japan'

#2021
jp_21 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2021/?area=JP')

jp_21 = jp_21[0]
jp_21_df = pd.DataFrame(jp_21)

jp_21_df['Year'] = '2021'
jp_21_df['Country'] = 'Japan'

#2022
jp_22 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2022/?area=JP')

jp_22 = jp_22[0]
jp_22_df = pd.DataFrame(jp_22)

jp_22_df['Year'] = '2022'
jp_22_df['Country'] = 'Japan'

#concatenated data frame
jps = [jp_17_df, jp_18_df, jp_19_df, jp_20_df, jp_21_df, jp_22_df]
  
jp = pd.concat(jps)
jp

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 30-31,-,-,"$4,917,393",-68.3%,6,-,-,-,-,52,False,2017,Japan
1,Dec 23-24,"$15,476,657",-43.2%,"$15,494,831",-43.2%,14,Star Wars: Episode VIII - The Last Jedi,-,-,-,51,False,2017,Japan
2,Dec 16-17,"$27,223,745",+101%,"$27,258,560",+96.7%,19,Star Wars: Episode VIII - The Last Jedi,-,-,-,50,False,2017,Japan
3,Dec 9-10,"$13,543,782",+77.8%,"$13,858,943",+68.1%,22,Kamen Rider Heisei Generations Final: Build & ...,-,-,-,49,False,2017,Japan
4,Dec 2-3,"$7,615,798",+7.9%,"$8,242,915",+1.9%,21,Fullmetal Alchemist,-,-,-,48,False,2017,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Jan 29-30,"$9,262,056",-20.2%,"$9,329,010",-20.7%,12,Jujutsu Kaisen 0: The Movie,-,-,-,5,False,2022,Japan
21,Jan 22-23,"$11,611,604",-26%,"$11,765,458",-25.2%,12,Jujutsu Kaisen 0: The Movie,-,-,-,4,False,2022,Japan
22,Jan 15-16,"$15,701,875",-16.3%,"$15,719,380",-16.5%,11,The Confidence Man JP: Episode of the Hero,-,-,-,3,False,2022,Japan
23,Jan 8-9,"$18,767,961",+54.5%,"$18,828,157",+53.8%,11,Spider-Man: No Way Home,-,-,-,2,False,2022,Japan
24,Jan 1-2,"$12,145,376",-43.9%,"$12,245,695",-44.2%,11,Jujutsu Kaisen 0: The Movie,-,-,-,1,False,2022,Japan

Korea

In [5]:
#2017
ko_17 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2017/?area=KR')

ko_17 = ko_17[0]
ko_17_df = pd.DataFrame(ko_17)

ko_17_df['Year'] = '2017'
ko_17_df['Country'] = 'Korea'
ko_17_df

#2018
ko_18 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2018/?area=KR')

ko_18 = ko_18[0]
ko_18_df = pd.DataFrame(ko_18)

ko_18_df['Year'] = '2018'
ko_18_df['Country'] = 'Korea'

#2019
ko_19 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2019/?area=KR')

ko_19 = ko_19[0]
ko_19_df = pd.DataFrame(ko_19)

ko_19_df['Year'] = '2019'
ko_19_df['Country'] = 'Korea'

#2020
ko_20 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2020/?area=KR')

ko_20 = ko_20[0]
ko_20_df = pd.DataFrame(ko_20)

ko_20_df['Year'] = '2020'
ko_20_df['Country'] = 'Korea'

#2021
ko_21 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2021/?area=KR')

ko_21 = ko_21[0]
ko_21_df = pd.DataFrame(ko_21)

ko_21_df['Year'] = '2021'
ko_21_df['Country'] = 'Korea'

#2022
ko_22 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2022/?area=KR')

ko_22 = ko_22[0]
ko_22_df = pd.DataFrame(ko_22)

ko_22_df['Year'] = '2022'
ko_22_df['Country'] = 'Korea'

#concatenated data frame
kos = [ko_17_df, ko_18_df, ko_19_df, ko_20_df, ko_21_df, ko_22_df]
  
ko = pd.concat(kos)
ko

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 29-31,"$35,747,769",+4.5%,"$36,168,896",+4.8%,30,Along With the Gods: The Two Worlds,-,-,-,52,False,2017,Korea
1,Dec 22-24,"$34,208,754",+75%,"$34,523,094",+73.6%,21,Along With the Gods: The Two Worlds,-,-,-,51,False,2017,Korea
2,Dec 15-17,"$19,545,706",+53.5%,"$19,891,433",+49%,37,Steel Rain,-,-,-,50,False,2017,Korea
3,Dec 8-10,"$12,734,209",-11.3%,"$13,345,499",-9.6%,38,The Swindlers,-,-,-,49,False,2017,Korea
4,Dec 1-3,"$14,349,667",+2.5%,"$14,768,784",+2.1%,35,The Swindlers,-,-,-,48,False,2017,Korea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Feb 4-6,"$3,101,349","+6,355%","$3,204,649","+6,570%",32,The Pirates: The Last Royal Treasure,-,-,-,5,False,2022,Korea
20,Jan 28-30,"$48,046",-98.8%,"$48,046",-98.8%,3,The King's Man,-,-,-,4,False,2022,Korea
21,Jan 21-23,"$3,925,822",-31.7%,"$4,165,310",-28.5%,33,Spider-Man: No Way Home,-,-,-,3,False,2022,Korea
22,Jan 14-16,"$5,747,487",-21.3%,"$5,827,604",-20.9%,21,Spider-Man: No Way Home,-,-,-,2,False,2022,Korea
23,Jan 7-9,"$7,299,307",-20%,"$7,364,053",-19.9%,35,Spider-Man: No Way Home,-,-,-,1,False,2022,Korea

Canada

In [6]:
#2017
au_17 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2017/?area=AU')

au_17 = au_17[0]
au_17_df = pd.DataFrame(au_17)

au_17_df['Year'] = '2017'
au_17_df['Country'] = 'Australia'

#2018
au_18 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2018/?area=AU')

au_18 = au_18[0]
au_18_df = pd.DataFrame(au_18)

au_18_df['Year'] = '2018'
au_18_df['Country'] = 'Australia'

#2019
au_19 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2019/?area=AU')

au_19 = au_19[0]
au_19_df = pd.DataFrame(au_19)

au_19_df['Year'] = '2019'
au_19_df['Country'] = 'Australia'

#2020
au_20 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2020/?area=AU')

au_20 = au_20[0]
au_20_df = pd.DataFrame(au_20)

au_20_df['Year'] = '2020'
au_20_df['Country'] = 'Australia'

#2021
au_21 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2021/?area=AU')

au_21 = au_21[0]
au_21_df = pd.DataFrame(au_21)

au_21_df['Year'] = '2021'
au_21_df['Country'] = 'Australia'

#2022
au_22 = pd.read_html('https://www.boxofficemojo.com/weekend/by-year/2022/?area=AU')

au_22 = au_22[0]
au_22_df = pd.DataFrame(au_22)

au_22_df['Year'] = '2022'
au_22_df['Country'] = 'Australia'

#concatenated data frame
aus = [au_17_df, au_18_df, au_19_df, au_20_df, au_21_df, au_22_df]
  
au = pd.concat(aus)
au

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 28-31,"$20,416,589",+103.8%,"$21,539,462",+101.9%,37,Jumanji: Welcome to the Jungle,-,-,-,52,False,2017,Australia
1,Dec 21-24,"$10,018,148",-49.9%,"$10,670,986",-47.5%,31,Star Wars: Episode VIII - The Last Jedi,-,-,-,51,False,2017,Australia
2,Dec 14-17,"$19,988,174",+275.8%,"$20,325,607",+247.9%,40,Star Wars: Episode VIII - The Last Jedi,-,-,-,50,False,2017,Australia
3,Dec 7-10,"$5,318,139",-30.4%,"$5,841,749",-29%,40,Wonder,-,-,-,49,False,2017,Australia
4,Nov 30-Dec 3,"$7,635,955",+2.7%,"$8,230,549",+5.2%,38,Wonder,-,-,-,48,False,2017,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Feb 3-6,"$5,091,607",+28.3%,"$6,107,810",+29.9%,107,Jackass Forever,-,-,-,5,False,2022,Australia
20,Jan 27-30,"$3,969,417",-24.4%,"$4,701,999",-20.6%,93,Spider-Man: No Way Home,-,-,-,4,False,2022,Australia
21,Jan 20-23,"$5,253,921",-14%,"$5,924,806",-10.4%,86,Spider-Man: No Way Home,-,-,-,3,False,2022,Australia
22,Jan 13-16,"$6,111,003",-34.8%,"$6,609,891",-32.7%,88,Spider-Man: No Way Home,-,-,-,2,False,2022,Australia
23,Jan 6-9,"$9,374,436",-18.3%,"$9,821,934",-18.2%,82,Spider-Man: No Way Home,-,-,-,1,False,2022,Australia

In [7]:
countries = [uk, gm, jp, ko, au]
  
box_office_international = pd.concat(countries)
box_office_international

,Dates,Top 10 Gross,%± LW,Overall Gross,%± LW.1,Releases,#1 Release,Genre,Budget,Running Time,Week,Long Weekend,Year,Country
0,Dec 29-31,"$33,080,107",-16.3%,"$33,536,057",-16%,34,Star Wars: Episode VIII - The Last Jedi,-,-,-,52,False,2017,United Kingdom
1,Dec 22-24,"$39,508,537",-6.6%,"$39,922,932",-6.5%,33,Star Wars: Episode VIII - The Last Jedi,-,-,-,51,False,2017,United Kingdom
2,Dec 15-17,"$42,282,755",+477.7%,"$42,685,242",+408.5%,48,Star Wars: Episode VIII - The Last Jedi,-,-,-,50,False,2017,United Kingdom
3,Dec 8-10,"$7,319,585",-44.8%,"$8,393,949",-41.9%,61,Paddington 2,-,-,-,49,False,2017,United Kingdom
4,Dec 1-3,"$13,252,084",-41.9%,"$14,457,631",-39.1%,57,Paddington 2,-,-,-,48,False,2017,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Feb 3-6,"$5,091,607",+28.3%,"$6,107,810",+29.9%,107,Jackass Forever,-,-,-,5,False,2022,Australia
20,Jan 27-30,"$3,969,417",-24.4%,"$4,701,999",-20.6%,93,Spider-Man: No Way Home,-,-,-,4,False,2022,Australia
21,Jan 20-23,"$5,253,921",-14%,"$5,924,806",-10.4%,86,Spider-Man: No Way Home,-,-,-,3,False,2022,Australia
22,Jan 13-16,"$6,111,003",-34.8%,"$6,609,891",-32.7%,88,Spider-Man: No Way Home,-,-,-,2,False,2022,Australia
23,Jan 6-9,"$9,374,436",-18.3%,"$9,821,934",-18.2%,82,Spider-Man: No Way Home,-,-,-,1,False,2022,Australia

In [9]:
box_office_international.to_csv('box_office_international.csv')
box_office_international.to_csv('C:/Users/natha/Documents/NSS/Projects/capstone_3/data/box_office_international.csv')