In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import datetime

Reading in csv's

In [ ]:
international_df = pd.read_csv('../data/box_office_international.csv')
international_df

In [ ]:
domestic_df = pd.read_csv('../data/box_office_domestic.csv')
domestic_df

Cleaning data

In [ ]:
international_df = international_df.drop(['Top 10 Gross', 
                      '%± LW', '%± LW.1', 
                      'Genre', 'Budget', 
                      'Running Time', 
                      'Week', 
                      'Long Weekend', 
                      'Unnamed: 0'], axis = 1)
international_df

In [ ]:
domestic_df = domestic_df.drop(['Day', 'Day #', '%± YD', '%± LW', 'Top 10 Gross', 'Unnamed: 0'], axis = 1)
domestic_df

In [ ]:
international_df = international_df[['Dates', 'Releases', '#1 Release', 'Overall Gross', 'Year', 'Country']]
international_df.rename(columns = {'Dates':'Date', 'Overall Gross':'Gross'}, inplace = True)
international_df

Concatening data

In [ ]:
box_office = [international_df, domestic_df]
  
box_office_df = pd.concat(box_office)
box_office_df

Creating csv

In [ ]:
box_office_df.info()

In [ ]:
box_office_df['Gross'] = (box_office_df['Gross'].replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))

In [ ]:
box_office_df

In [ ]:
box_office_df['Year'] = box_office_df['Year'].astype(object)

In [ ]:
box_office_df

In [ ]:
box_office_df['Month'] = box_office_df['Date'].str[:3]
box_office_df

In [ ]:
box_office_df['Month'] = box_office_df['Month'].astype(str)
box_office_df

In [ ]:
box_office_df.info()

In [ ]:
#box_office_df['Month'] = ['Dec' if x == 'Jan' else 1 for x in box_office_df['Month']]
#box_office_df
box_office_df['Month'] = [1 if x == 'Jan' 
                          else 2 if x == 'Feb' 
                          else 3 if x == 'Mar' 
                          else 4 if x == 'Apr' 
                          else 5 if x == 'May' 
                          else 6 if x == 'Jun' 
                          else 7 if x == 'Jul' 
                          else 8 if x == 'Aug' 
                          else 9 if x == 'Sep' 
                          else 10 if x == 'Oct' 
                          else 11 if x == 'Nov' 
                          else 12 if x == 'Dec' 
                          else ''
                          for x in box_office_df['Month']]
#box_office_df['Month'] = np.where(box_office_df['Month']=='Jan', 5)
box_office_df

In [ ]:
#box_office_df.to_csv('box_office.csv')
#box_office_df.to_csv('C:/Users/natha/Documents/NSS/Projects/capstone_3/data/box_office.csv')

Line graph: sum of realeases over the years

Creating dataframe for line graph

In [ ]:
box_office_realese = box_office_df[['Releases', 'Year', 'Country']]
box_office_realese

In [ ]:
year_release = box_office_df.groupby(['Year', 'Country'], as_index=False,).agg({'Releases':'sum'})
year_release

In [ ]:
year = year_release[year_release['Year'].isin([2017, 2018, 2019, 2020, 2021, 2022])]
america = year[year['Country'].isin(['America'])]
germany = year[year['Country'].isin(['Germany'])]
united_kingdom = year[year['Country'].isin(['United Kingdom'])]	
japan = year[year['Country'].isin(['Japan'])]
korea = year[year['Country'].isin(['Korea'])]
canada = year[year['Country'].isin(['Canada'])]

Line graph: sum of realeases over the years

In [ ]:
plt.subplots(figsize=(10,8))
plt.plot(america.Year, america.Releases, color="Blue")
plt.plot(germany.Year, germany.Releases, color="Green")
plt.plot(united_kingdom.Year, united_kingdom.Releases, color="Purple")
plt.plot(japan.Year, japan.Releases, color="Red")
plt.plot(korea.Year, korea.Releases, color="Yellow")
plt.plot(canada.Year, canada.Releases, color="Orange")
plt.title('Releases by Year', fontsize=20, fontstyle='oblique')
plt.xlabel('Year', fontsize=20, fontstyle='oblique')
plt.ylabel('Realeases', fontsize=20, fontstyle='oblique')
plt.legend(["America", "Germany", "United Kingdom", "Japan", "Korea", "Canada"])
plt.show()

Pie graph: sum of gross between bc, dc, ac.

In [ ]:
box_office_df

In [ ]:
box_gross = box_office_df.groupby(['Year'], as_index=False,).agg({'Gross':'sum'})
box_gross

In [ ]:
start_row_21 = 4

box_gross.iloc[start_row_21] = box_gross.iloc[start_row_21:].sum()
box_gross = box_gross.iloc[:start_row_21+1]
box_gross
#box_gross_1
#box_gross.reset_index().replace({'index':[i for i in range(4,5)]}, {'index':4}).groupby('index', as_index=False).sum()

In [ ]:
box_gross.info()